// Размеры шрифтов

$sz-h1: 3rem;
$sz-h2: 1.5rem;
$sz-h3: 1.25rem;
$sz-h4: 1.1rem;
$sz-h5: 1rem;
$sz-h6: 0.875rem;
$sz-p: 1rem;
$sz-sub: 0.875rem;
$sz-link: 1.1rem;


// Цвета
$clr-dark-500: #000;
$clr-dark-400: #E3E3E3;
$clr-dark-300: #D3D3D3;
$clr-dark-200: #939393;

$clr-light-500: #FFF;

$clr-brand-red: #BD0E1B;