mixin main-list
    .main-list 
        .main-list_item #[span.main-list_item-triggered Влагостойкий], экологически чистый
        .main-list_item Огнестойкий, практичный и #[span.main-list_item-triggered долговечный]
        .main-list_item #[span.main-list_item-triggered Высокая экономия] на отделке и отоплении